<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAc_CeFF7GIQF8veIp9IpE30e_PvRvQym8</string>
	<key>GCM_SENDER_ID</key>
	<string>526955239747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anashamad.todoshi</string>
	<key>PROJECT_ID</key>
	<string>todosi-b482f</string>
	<key>STORAGE_BUCKET</key>
	<string>todosi-b482f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526955239747:ios:9024c3ca02728d3e66f7f6</string>
</dict>
</plist>